<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>AutoCare - Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
    <h1>Bem-vindo à AutoCare 🚗</h1>
    <p>Acompanhe o serviço do seu veículo em tempo real.</p>

    <form method="GET">
        <label for="placa">Digite a placa do seu carro:</label>
        <input type="text" name="placa" id="placa" placeholder="Ex: ABC-1234 ou ABC0D95" maxlength="8" oninput="this.value = this.value.replace(/\s/g, '')" class="form-control form-control-lg" required>
        <button type="submit" class="btn btn-primary btn-lg mt-3">Buscar Status </button> 
    </form>

    <hr> {% if servico %}
    <div class="card border-success mt-4 shadow-sm">
        <div class="card-header bg-success text-white fs-5">
            ✅ Veículo Encontrado!
        </div>
        <div class="card-body">
            <p><strong>Veículo:</strong> {{servico.carro}}</p>
            <p><strong>Placa:</strong> {{ servico.carro.placa }}</p>
            <p><strong>Data de entrada: </strong> {{ servico.data_entrada }}</p> 

            {% if servico.status_servico == 'CONCLUIDO' %}
                <p><strong>Data de saída:</strong> {{ servico.data_saida }}</p>

            {% endif %}

            <p><strong>Status: </strong>

            {% if servico.status_servico == 'NA FILA' %}
                <span class="badge bg-warning text-dark">Pendente</span>
            {% elif servico.status_servico == 'EM ANDAMENTO' %}
                <span class="badge bg-primary">Em andamento</span>
            {% elif servico.status_servico == 'CONCLUIDO' %}
                <span class="badge bg-success">Concluído</span>
            {% else %}
                <span class="badge bg-secondary">{{ servico.status_servico }}</span>
            {% endif %}
            </p>
            <p><strong>Serviço:</strong> {{servico.descricao}}</p>
            {% if servico.status_servico == 'CONCLUIDO' %}
                <a href="https://wa.me/{{ servico.carro.cliente.get_whatsapp_number }}?text=Olá%20{{ servico.carro.cliente.nome }}!%20O%20serviço%20no%20seu%20{{ servico.carro.marca }} {{ servico.carro.modelo }}%20foi%20concluído%20na%20AutoCare.%20Já%20pode%20vir%20buscar!%20🚗" 
                target="_blank" 
                class="btn btn-success d-grid gap-2 mt-3 shadow-sm">
                Avisar Cliente no WhatsApp 📱
                </a>
            {% endif %}
        </div>
        
    </div> {% elif placa_buscada %}
        <div class="alert alert-danger mt-4 shadow-sm" role="alert">
            ❌ Nenhum serviço encontrado para a placa <strong>{{ placa_buscada }}</strong>.
        </div>
    {% endif %}
</div>
</body>
</html>